/* HomePage.css */

.home-page {
    display: flex;
    height: 100vh;
  }
  
  .left-side, .right-side {
    width: 70%;
    height: 100%;
  }
  
  .right-side {
    width: 30%;
    height: 100%;
  }
  
  .divider {
    width: 5px;
    background-color: #000000;
  }
  
  .dinner-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .recipe-thumbnails {
    margin-top: 20px;
  }

  .container {
    background-color: transparent;
  }
  
  .recipe-thumbnail {
    margin-bottom: 20px;
    /* Style individual recipe thumbnails */
  }
  